<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/icon.png" rel="icon" />
<title>SN-API - Home</title>
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
======================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
======================= -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="vendor/font-awesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>
<body>
<!-- Container -->
<div class="container-fluid itinerary-container"> 
  <!-- Header -->
  <header>
    <div class="row align-items-center">
      <div class="col-sm-7 text-center text-sm-left mb-3 mb-sm-0"> <img id="logo" src="images/1.png" title="Gloo" alt="Gloo" /> </div>
      <div class="col-sm-5 text-center text-sm-right">
        <h4 class="text-7 mb-0">V1.0</h4>
      </div>
    </div>
    <hr class="my-4">
  </header>
  <!-- Header End --> 
  
  <!-- Main Content -->
  <main>
    <div class="row">
      <div class="col-sm-4"> <strong class="font-weight-600">Creaed By:</strong>
        <p>Faysal Ali Hussein</p>
        <strong class="font-weight-600">Email:</strong>
        <p>faysalzaid96@gmail.com</p>
      </div>
      <div class="col-sm-4"> <strong class="font-weight-600">API Verson:</strong>
        <p>1.0</p>
      </div>

    </div>
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center trip-title">
          <div class="col-5 col-md-auto text-center text-md-left">
            <h5 class="m-0">API Endpoints</h5>
          </div>
   
          <div class="col-12 col-md-auto text-3 text-dark text-center mt-2 mt-md-0 ml-md-auto">22 August 22, Mon</div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-9 company-info"> <span class="text-4 font-weight-500 text-dark">Description</span> 
            <p>This api gives you the latest news of somali nation written in somali </p>
            <p>The purpose: is to simply get the latest news by using this api without the need to write the contents by your self just like any other api's</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6"><strong class="font-weight-600">Endpoint:</strong>
            <p>https://api.amiigotech.com/war </p>
            <p>-To get all news, more than 60 of the latest news</p>
          </div>
          <div class="col-sm-6"><strong class="font-weight-600">Single Detailed news</strong>
            <p>https://api.amiigotech.com/war/detail</p>
            <p>To get specific detail of a single news</p>
            <p><b>detail:</b> the title of the news </p>
            <p></p>
          </div>
        </div>
        <hr class="mt-1">

      </div>


      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-9 company-info"> <span class="text-4 font-weight-500 text-dark">Info</span> 
            <p>This is the first version of this api, we are working towards imporving it  </p>
            <p></p>
          </div>

        </div>
        <hr>
        <hr class="mt-1">

      </div>



    </div>



  </main>
  <!-- Main Content End --> 
  
  <!-- Footer -->
  <footer class="text-center mt-3">
    <p><strong>Amiigotech Team.</strong><br> </p>
    <hr>
  </footer>
  <!-- Footer End --> 
  
</div>
<!-- Container End --> 

<!-- Back to My Account Link -->
</body>
</html>